*{
	margin: 0;
	padding: 0;
	/*border: 1px solid #fff;*/
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	font-family: "RobotoLight";
	list-style:none;	
}

#main_wrapper{
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100vw;

}

#main_wrapper header{
	width: 100vw;
	display: flex;
	padding: 5px 20px;
	background-color: #24263F;
	color: #fff;
}

#main_wrapper header *{
	margin: 5px;
}

#main_wrapper header h1{
	flex: 2;
	font-family: "RobotoLight";
	
}

#main_wrapper .points_container, #main_wrapper .timer_container{
	min-width: 100px;
	background: #343354;
	border-radius: 6px;
}

#main_wrapper .options_dropdown{
	min-width: 50px;
	border: 1px solid #343354;
	border-radius: 6px;
	
}

#main_wrapper .container{
	width: 100vw;
	flex: 2;
	display: flex;
	flex-direction: row;
}

#main_wrapper .primary_nav, #main_wrapper .secondary_nav{
	min-width: 300px;
	min-height: 100%;
	color: #fff;
} 

#main_wrapper .primary_nav{
	background: #2D2F4A;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#main_wrapper .secondary_nav{
	background: #3E3D67;
	overflow: auto;
}

#main_wrapper .primary_nav button{
	margin: 50px auto;
	width: 200px;
	line-height: 40px;
	border-radius: 3px;
	background: #f34c86;
	border: none;
	color: #FFF;
	font-size: 20px;
	position: relative;
	cursor: pointer
}

#main_wrapper .primary_nav button::before{
	position: absolute;
	right: 100%;
	bottom: 0;
	left: 0;
	top: 0;
	content: 'Puzzle';
	font-size: 0;
	transition: all .3s linear;
	color: #fff;
	background: #3e3d67;
	border-radius: 3px;
}

#main_wrapper .primary_nav button:hover::before{
	right: 0;
	font-size: 20px;
}

#main_wrapper .primary_nav ul{
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	width: 100%;
}


#main_wrapper .primary_nav li{
	
	padding: 20px;
	
	font-family: "Roboto";
	font-size: 20px;
	letter-spacing: 0.2px;
	transition: all .3s linear;
	
}

#main_wrapper .primary_nav li:hover, #main_wrapper .primary_nav li:active{
	background: rgb(65, 58, 96);
	border-left: 4px solid #f34c86;
}

#main_wrapper .secondary_nav .item{

	display: flex;
	flex-direction: row;
	padding: 20px;
	border-bottom: 1px solid #5d5c84;
}

#main_wrapper .secondary_nav .number{
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	border-radius: 50%;
	background: rgb(31, 100, 172);
	
	font-family: "Roboto";
}


#main_wrapper .secondary_nav .details{
	margin-left: 10px;
	padding: 10px;
	/*display: flex;*/
	
}
#main_wrapper .secondary_nav .details span{
	/*align-self: flex-end;*/
}